.mypage-top {
  font-size: 20px;
  font-weight: bold;
  color: #3a2e25;
  padding-left: 16px;
  margin-left: 25px;
  margin-top: 40px;
  border-left: 4px solid #F9CB73;
}

.mypage-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 80px;
}

.mypage-sent{
    background-color: #3B2F2F;
    width: 160px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sentimg{
    width: 131px;
    margin-top: 30px;
}

.sent-text{
    font-size: 18px;
    color: #F9CB73;
    margin-top: 20px;
}

.mypage-received{
    background-color: #3B2F2F;
    width: 160px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.receivedimg{
    width: 102px;
    margin-top: 58px;
}

.received-text{
    font-size: 18px;
    color: #F9CB73;
    margin-top: 20px;
}

.mypage-received{
    background-color: #3B2F2F;
    width: 160px;
    height: 200px;
    border-radius: 20px;
}

.mypage-received:hover, .mypage-sent:hover{
    border: 4.3px solid #F9CB73;
}

.mypage-signout{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.delete-account-btn {
  background-color: transparent;
  border: 2px solid rgb(224, 202, 159);
  color: #dfc490ff;
  padding: 6px 13px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease;
}

.delete-account-btn:hover {
  background-color: rgb(233, 208, 162);
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}