.mypage-title {
  margin-bottom: 20%;
}

.letterdetail-input input {
  border: none;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
  color: #9a9a9a;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.color-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.color-btn.gray {
  background-color: #dddddd;
}
.color-btn.pink {
  background-color: #ffc4c4;
}
.color-btn.yellow {
  background-color: #ffe0a4;
}
.color-btn.green {
  background-color: #caf19b;
}
.color-btn.blue {
  background-color: #9bcdf1;
}

.color-btn.selected {
  border-color: #000;
}

.letterdetail-box.pink {
  background-color: #ffc4c4;
}
.letterdetail-box.gray {
  background-color: #dddddd;
}
.letterdetail-box.yellow {
  background-color: #ffe0a4;
}
.letterdetail-box.green {
  background-color: #caf19b;
}
.letterdetail-box.blue {
  background-color: #9bcdf1;
}

.date-time-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.datetime-inputs {
  display: flex;
  gap: 30px;
}

.datetime-button button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #f9cb73;
  color: black;
  white-space: nowrap;
}

.date-time-row input[type="date"],
.date-time-row input[type="time"] {
  border: none;
  background-color: #ffffff;
}

.bottomButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sendButton {
  padding: 10px 20px;
  background-color: #9a9a9a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: default;
  transition: background-color 0.3s;
}

.sendButton.active {
  background-color: #f9cb73;
  color: black;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlay-text {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
